*.css
.DS_Store
*.cjs
*.rkt
*~
*#
.travis.yml
COPYING
LICENSE
yarn.lock
package-lock.json
*.js
*.js.map
*.d.ts
*.d.ts.map
*.vsix

compiled
/doc
/node_modules
/conductor
/.vscode/
/dist

# Compiled TypeScript files
**/*.js
**/*.js.map
**/*.d.ts
**/*.d.ts.map