*.css
!web-react/*.css
.DS_Store
*.cjs
*~
*#
.travis.yml
COPYING
yarn.lock
package-lock.json

# Environment variables (contains API keys)
.env
.env.local
/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts
/src/**/*.d.ts.map
*.vsix
out

compiled
/doc
node_modules
/conductor
/.vscode/
dist
dist-*
/coordination
