*.css
.DS_Store
*.cjs
*~
*#
.travis.yml
COPYING
yarn.lock
package-lock.json
/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts
/src/**/*.d.ts.map
*.vsix
out

compiled
/doc
node_modules
/conductor
/.vscode/
dist
dist-*
