*.css
.DS_Store
*.cjs
*.rkt
*~
*#
.travis.yml
COPYING
LICENSE
yarn.lock
package-lock.json

# Environment variables (contains API keys)
.env
.env.local

compiled
/doc
/node_modules
/conductor
/.vscode/
/dist
